.page-header {
  position: sticky;
  top: 0;
  z-index: 100;

  padding: 16px 16px 8px;

  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  transition: all 0.3s ease;
}
.header-content {
  transition: all 0.3s ease;
}

/* title */
.header-title {
  font-size: 26px;
  font-weight: 700;
  margin: 10px;

  transition: all 0.3s ease;
}

/* SCROLLED STATE */
.page-header.scrolled {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(0, 0, 0, 0.6);
}

/* shrink title */
.page-header.scrolled .header-title {
  font-size: 20px;
}
.page-header h1 {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

/* subtle chequered pattern */
.page-header::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(45deg, #ffffff10 25%, transparent 25%),
    linear-gradient(-45deg, #ffffff10 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ffffff10 75%),
    linear-gradient(-45deg, transparent 75%, #ffffff10 75%);

  background-size: 16px 16px;
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0;

  opacity: 0.25;

  /* fade out toward right */
  mask-image: linear-gradient(to right, black 30%, transparent 85%);
  -webkit-mask-image: linear-gradient(to right, black 30%, transparent 85%);
}

/* text */
.page-header h1 {
  position: relative;
  z-index: 1;

  font-size: 22px;
  font-weight: 600;
}
